.row {
    background-color: lavender;
    padding: 10pt;
    color :white;
    font-style: italic;
}
h1 {
    color: lightpink;
    padding: 9pt;
    font-weight: bold;
    font-style: italic;
    border-radius: 50pt;
    
}
.text
{

    color: lightsalmon;
    padding: 10pt;
    font-style: bold;
}

.image
{
    size: 300pt;
}


.btn-light-blue{
    
    background-color: lightblue;
    border: skyblue;
    color: snow;
    
}
.imagemelanie{
    background-image: url('MELANIE.jpg');
    background-size: cover;
    border: 3px solid gainsboro;
    min-height: 50vh;
}
.imagemelanie1{
    background-image: url('Melanie-Martinez-K-12.jpg');
    background-size: cover;
    border: 3px solid gainsboro;
    min-height: 50vh;
}
.imagemelanie2{
    background-image: url('Melanie_Martinez_Press_Image.jpg');
    background-size: cover;
    border: 3px solid gainsboro;
    min-height: 50vh;
}
h3 {
    padding: 30pt;
    color: lightgrey;
    align-self: 2pt;
    border: lightsalmon;
    border-width: 30pt;
}
.background {
    background-color: lightcyan;
}

.row-border {
    border-color: lightsalmon;
}
