.row {
    background-color: lavender;
    padding: 10pt;
    color: lightyellow;
    font-style: italic;
}
h1 {
    color: lightpink;
    padding: 9pt;
    font-weight: bold;
    font-style: italic;
    border-radius: 50pt;
}
.text
{
    color: lightsalmon;
    padding: 10pt;
    border-top-style: 8pt;
}

.image
{
    size: 300pt;
}


.btn-light-blue{
    
    background-color: lightblue;
    border: skyblue;
    color: snow;
    
}
.imagemelanie{
    background-image: url('MELANIE.jpg');
    background-size: cover;
    border: 3px solid papayawhip;
    min-height: 50vh;
}
h3 {
    padding: 30pt;
    color: lemonchiffon;
    align-self: 2pt;
    border: lightsalmon;
    border-width: 30pt;
}
.background {
    background-color: lightcyan;
}

.row-border {
    border-color: lightsalmon;
}
